@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html{
    font-family: "Mukta", sans-serif;
}

:root{
  --primary-clr: #aedcf7;
  --seconday-clr: rgb(226, 48, 131);

}